## Start of Git ignore ##
*.pyc
simulations/scripts/**.py
!simulations/scripts/PySAM_model1.py
!simulations/scripts/PySAM_example.py
!simulations/scripts/PySAM_generic_mspt.py

simulations/outputs/**.csv
simulations/outputs/**.xlsx
simulations/outputs/**.txt
